*{
  margin: 0%;
  padding: 0%;
 font-family: Assistant, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif,;
 text-decoration: none;
 text-transform: capitalize;
 
}
 /*nav bar block edit from here*/
 .nav{
   background-color:gray;
   height: 3em ;
   width: auto;
   align-items: center;
 }
 .nav_contaner{
  display: flex;
 justify-content: space-around;
 
}
/*logo block edit from here*/
.logo{
  margin-left: 1em;
  margin-right: 1%;

}
.logo_img{
  width:2em;
  height: 2em;
}
/*nav text block edit from here*/
.nav_text li{
  display:inline;
  margin-left: 2%;
  margin-right: 3%;

}
/*nav search block edit from here*/
.search{
  margin-left: 2%;
  margin-right: 3%;
}
.nav_icons li{
  display: inline;

  margin-left: 2%;
  margin-right: 3%;}
